<footer>
    <div class="pannel1">
        <p>
            GET THE LATEST TRENDS FIRST
        </p>
        <input type="email" placeholder="Enter your email" title="Please fill out this">
        <ul class="footerlinks_UL">
            <li><a class="footerhover2" href="">Facebook</a></li>
            <li><a class="footerhover2" href="">Instagram</a></li>
            <li><a class="footerhover2" href="">Youtube</a></li>
            <li><a class="footerhover2" href="">Tiktok</a></li>
            <li><a class="footerhover2" href="">Pinterest</a></li>
        </ul>
    </div>
    <div class="pannel2">
        <div class="AboutinfoPannel">
            <div>
                <ul>
                    <li><a href="">FAQ'S</a></li>
                    <li><a href="">LogIn/Sign Up</a></li>
                    <li><a href="">How To Buy</a></li>
                    <li><a href="">Payment</a></li>
                    <li><a href="">Shipping & Deliveries</a></li>
                    <li><a href="">Exchange & Returns</a></li>
                </ul>
            </div>
            <div>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Retail Stores</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Work With Us</a></li>
                </ul>
            </div>
        </div>
        <div class="copyrightpannel">
            <p class="CopyrightText">@ Copyrights Reserved by outfitters 2024.</p>
        </div>
    </div>
</footer>