  <!-- Carousel Container -->
  <div class="carousel-container w-full h-screen overflow-y-auto">
    <div id="top">
      <div class="left">
        <div id="menu">
          <div class="line line-big"></div>
          <div class="line line-small"></div>
          <div class="menu-container">
            <div class="menu-top">
              <a class="menu-logo" href="Index.html">OUTFITTERS</a>
            </div>
            <div class="menu-middle">
              <a href="">WOMEN</a>
              <a href="">MEN</a>
              <a href="">KIDS</a>
            </div>
            <div class="menu-bottom">
              <a class="frag" href="Fragrance.html">FRAGRANCE</a>
              <div class="inner-bottom">
                <a href="#">T-SHIRT AND POLO</a>
                <div class="inner-inner">
                  <a href="#">T-SHIRT</a>
                  <a href="#">POLO</a>
                </div>
              </div>
              <div class="inner-bottom">
                <a href="#">PANTS</a>
                <div class="inner-inner">
                  <a href="#">CHINOS</a>
                  <a href="#">JEANS</a>
                </div>
              </div>
              <div class="inner-bottom">
                <a href="">SHIRTS
                  <div class="inner-inner">
                    <a href="#">CASUAL SHIRT</a>
                    <a href="#">FORMAL SHIRTS</a>
                  </div>
                </a>
              </div>
              <div class="inner-bottom">
                <a href="">ACCESSORIES
                  <div class="inner-inner">
                    <a href="#">MAN WALLETS</a>
                    <a href="#">BELTS</a>
                    <a href="#">CARD HOLDER</a>
                  </div>
                </a>
              </div>
              <div class="inner-bottom">
                <a href="">UNSTITCHED
                  <div class="inner-inner">
                    <a href="#">COTTON</a>
                    <a href="#">WASH & WEAR</a>
                  </div>
                </a>
              </div>
              <div class="inner-bottom">
                <a href="">EASTERN WEAR
                  <div class="inner-inner">
                    <a href="#">SHALWAR KAMEEZ</a>
                    <a href="#">KURTA</a>
                  </div>
                </a>
              </div>
              <div class="inner-bottom">
                <a href="">OUTWEAR
                  <div class="inner-inner">
                    <a href="#">HOODIES</a>
                    <a href="#">SWEAT SHIRTS</a>
                    <a href="#">JACKETS</a>
                  </div>
                </a>
              </div>
              <a class="home" href="">HOME</a>
              <a href="" class="scan">#SCAN BARCODE</a>
            </div>
          </div>
        </div>
        <a class="logo" href="Index.html">OUTFITTERS</a>
      </div>
      <div class="right">
        <div class="searchicon">
          <img class="sicon" src="images/icons8-search.svg" alt="">
        </div>
        <a class="search">SEARCH</a>
        <a href="Login_form.html" class="login">LOGIN</a>
        <div class="cart">
          <img class="cicon" src="images/shopping-bag.png" alt="">
        </div>
      </div>
    </div>
